<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav">
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" routerLink="/dashboard">Home</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" routerLink="/addparcel">Add Parcel</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" routerLink="/addsender">Add Sender</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" routerLink="/listparcels">List Parcels</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" routerLink="/listsenders">List Senders</a>
    </li>
    <li class="nav-item" style="padding-left:0.2in">
      <a class="btn btn-primary" routerLink="/deletesender">Delete Sender</a>
    </li>
  </ul>
</nav>



<router-outlet></router-outlet>